<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:fragment="fragments">
  <meta charset="UTF-8"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Header Menu -->
<header th:fragment="header">
  <nav class="navbar navbar-expand-lg bg-body-secondary bg-gradient">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img th:src="@{/images/letter-w.png}" width="30" height="30" alt="Logo W"
                                            loading="lazy"
                                            class="d-inline-block align-text-top"> Warehouse 1.0</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container-fluid justify-content-end">
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li sec:authorize="hasRole('ADMIN')" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">Administrator</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/upload-product-line}">Add new product line</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" th:href="@{/call-user-form}">Add new user</a></li>
                <li><a class="dropdown-item" th:href="@{/call-user-management-form}">Manage users</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" th:href="@{/statistics-form}">See statistic</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">Manager</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/upload/delivery-form}">Upload delivery</a></li>
                <li><a class="dropdown-item" th:href="@{/upload/consumption-form}">Upload consumption</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" th:href="@{/stock}">Check All Stock</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Opportunities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/support}">Support</a>
            </li>

          </ul>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <span class="navbar-text" th:inline="text">Hello <span th:remove="tag" sec:authentication="name">user</span>!
              Your role is:  <span th:remove="tag" sec:authentication="principal.authorities">...</span>
            </span>
            <form th:action="@{/logout}" method="post">
              <button class="btn btn-outline-primary">Log out</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- Footer -->
<footer th:fragment="footer" class="bg-light text-center py-3">
  <div class="container">
    <p class="text-secondary">&copy; Copyright T&D Solutions. All Rights Reserved.</p>
    <p class="text-secondary"> Designed by S.Stroganoff</p>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
