<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="menues">
  <meta charset="UTF-8"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Notice menu  -->

<!-- Notice variant 2 -->
<div class="modal fade" id="registered-notification" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="notice(notification)">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div th:if="${notification != null}">
          <h5 class="modal-title" id="exampleModalLabel" th:text="${notification.getTitle}">Title</h5>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-center" th:text="${notification.getMessage}">Message here ...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>


